body{
  background-color:  rgb(125, 198, 214);
  margin:0; padding:0;


}

h1, h2, h3{
  font-family: 'Lato', sans-serif;
}

h1, h2{
  letter-spacing: 0.1em
}

p{
  font-family: 'Open Sans', sans-serif;
}

@keyframes Thomas {
  from{left:-200%; color:white};
  to{left:50%;color:rgb(125, 198, 214)}

}

@keyframes Hughes {
  from{left:-200%; color:rgb(125, 198, 214)}
  to{left:50%}
}

@keyframes slide-in-left {
  0%{
    color:rgb(125, 198, 214);
    opacity: 1;
    left:-300%;
  }
  100%{
    color:white;
    opacity: 1;
    left:50%s
  }

}

.hero-banner{
  height: 100vh;
  position: relative;
  background-color: skyblue;
  border-bottom: 2px solid black;
}

.hero-half1{
  height: 50%;
  background-color:white;

}

.hero-half2{
  height: 50%;
  background-color: rgb(125, 198, 214);
}

.hero-text{
  text-align: center;
  position: absolute;
  top: 50%;
    left:50%;
  transform: translate(-50%, -50%);
  font-size:calc(3rem + (96 - 48) * ((100vw - 300px)/ (1200 - 300)));
  margin:0px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 900;



}


.Thomas
{
  color:rgb(125, 198, 214);
  animation-name: Thomas;
  animation-duration: 5s;
  animation-fill-mode: forwards;

}

.Hughes{
  animation-name: Hughes;
  animation-duration: 5s;
  color:white;
  padding:0;
  margin:0;
}

.hero-text p
{
  position: relative;
  color: white;
  padding: 0;
  font-size:15px;
  animation-name: slide-in-left;
  animation-duration: 5s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}



.threepagescroll{;

  height:300vh;
position: relative;
  top: 0px;

}

.left-half{
  width:50%;
  float: left;
  position: sticky;
  top:0;
  position: -webkit-sticky;
  background-image: url(file:///C:/Users/Admin/Desktop/Portfolio/img/newportfoliopic.JPG);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh
}


.right-half{
  float: right;
  width:50%;
  top:0;
  position: sticky;
  height:300vh;
  margin:0px;
  padding:0px;
  border:0px
}

.title1{
  position: -webkit-sticky;
position: -webkit-sticky;
position: relative;
  left: 0;
  top: -5vh;
display: block;
top:50%;
padding:auto;
margin: auto;
margin-bottom: 40px;
margin-top:40px

}


.workexp{
  left: 0;
  top: -5vh;
display: block;
top:50%;
padding:auto;
margin: auto;
margin-bottom: 40px;
margin-top:40px;
color:pink;

}
.workexp1 h2 {
  color:white;
  text-transform: uppercase;
  padding-top: -800px
}
.workexp1 p{
  color:white;
  font-size: 1.2em;
  line-height: 1.2em
}


.background{
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: -webkit-sticky;
  display: flex;
  align-items: center;
  align-content: center;

}
.background1{
  height: 100vh;
  background-image: url(file:///C:/Users/Admin/Desktop/Portfolio/img/surfer.JPG);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: -webkit-sticky;
  font-size: 1.2em;

}


.background2{
  height: 100vh;
  background-image: url(file:///C:/Users/Admin/Desktop/Portfolio/img/lighthouse.JPG);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 1.2em;
}

.background3{
  height: 100vh;
  background-image: url(file:///C:/Users/Admin/Desktop/Portfolio/img/newportfoliopic.JPG);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 1.2em;
}

.workexp{
  display: flex;
  align-items: center;
  align-content: center;
  display: block;
}


.staticpagecover{
  height: 100vh;
  background-image: url(file:///C:/Users/Admin/Desktop/Portfolio/img/birdsinflight.JPG);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 40px;
  display: flex;
  align-items: center;
  align-content: center;
}

.aboutmelefthalf{
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  align-content: center;
  margin:auto
}

.aboutmerighthalf{
  width: 50%;
  float: right;
  display: flex;
  align-items: center;
  align-content: center;
}



h2, p{
  margin-left: 5em;
  margin-right: 5em;
}
