/*fonts used
font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
*/


body{
  background-color:  skyblue;
  margin:0; padding:0;


}

h1{
  font-family: 'Lato', sans-serif;
}

h1{
  letter-spacing: 0.1em
}

h3{
  font-family: 'Noto Sans', sans-serif;
  font-size: 2em

}

p{
  font-family: 'Open Sans', sans-serif;
}

@keyframes Thomas {
  from{left:-200%; color:white};
  to{left:50%;color:skyblue}

}

@keyframes Hughes {
  from{left:-200%; color:skyblue}
  to{left:50%}
}

@keyframes slide-in-left {
  0%{
    color:skyblue;
    opacity: 1;
    left:-300%;
  }
  100%{
    color:white;
    opacity: 1;
    left:50%s
  }

}

.hero-banner{
  height: 100vh;
  position: relative;
  background-color: #ff600f;
  border-bottom: 2px solid black;
}

.hero-half1{
  height: 50%;
  background-color:white;

}

.hero-half2{
  height: 50%;
  background-color: skyblue;
}

.hero-text{
  text-align: center;
  position: absolute;
  top: 50%;
    left:50%;
  transform: translate(-50%, -50%);
  font-size:calc(3rem + (96 - 48) * ((100vw - 300px)/ (1200 - 300)));
  margin:0px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 900;



}


.Thomas
{
  color:skyblue;
  animation-name: Thomas;
  animation-duration: 5s;
  animation-fill-mode: forwards;

}

.Hughes{
  animation-name: Hughes;
  animation-duration: 5s;
  color:white;
  padding:0;
  margin:0;
}

.hero-text p
{
  position: relative;
  color: white;
  padding: 0;
  font-size:15px;
  animation-name: slide-in-left;
  animation-duration: 5s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}



.WorkWrapper{;
  height:321vh;
  position: relative;
  top: 0px;
}

.AboutWrapper{
  height: 150vh;
  position: relative;
  top:0px;
  background-color: skyblue;
}

.aboutrighthalf{
  height: 200vh
}

.ContactWrapper{
  height: 120vh;
  position: relative;
  top:0px;
  background-color:
}

.left-half{
  width:50%;
  float: left;
  position: sticky;
  top:0;
  position: -webkit-sticky;
  background-color:#ff722b;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh
}


.right-half{
  float: right;
  width:50%;
  top:0;
  position: sticky;
  height:321vh;
  margin:0px;
  padding:0px;
  border:0px
}



.title1{
position: -webkit-sticky;
position: -webkit-sticky;
position: relative;
left: 0;
display: block;
top:50%;
padding:auto;
margin: auto;
margin-bottom: 40px;
margin-top:40px
}


.workexp{
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  width:75%;
  padding:

}


.background{
  height: 107vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: -webkit-sticky;
  display: flex;
  align-items: center;
  align-content: center;
  padding-left:5em;

}
.background1{
  background-image: url(https://i.imgur.com/jTV0Ps4.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: -webkit-sticky;
  font-size: 1.2em;

}


.background2{
  background-image: url(https://i.imgur.com/nP3kShE.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 1.2em;
}

.background3{
  background-image: url(https://i.imgur.com/fLlPJB6.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 1.2em;
}

.workexp{
  display: flex;
  align-items: center;
  align-content: center;
  display: block;
}


.staticpagecover{
  height: 100vh;
  background-image: url(file:///C:/Users/Admin/Desktop/Portfolio/img/birdsinflight.JPG);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  align-content: center;
}

.aboutmelefthalf{
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  align-content: center;
  margin:auto;
  border: 1px solid black
}

.aboutmerighthalf{
  width: 50%;
  float: right;
  display: flex;
  align-items: center;
  align-content: center;
}
